In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("shop_sales.csv")

In [3]:
df

           item_id store_id  date_id  cnt
0      STORE_2_085  STORE_2        1    3
1      STORE_2_085  STORE_2        2    8
2      STORE_2_085  STORE_2        3    0
3      STORE_2_085  STORE_2        4    3
4      STORE_2_085  STORE_2        5    0
...            ...      ...      ...  ...
81850  STORE_1_727  STORE_1     1815    2
81851  STORE_1_727  STORE_1     1816    3
81852  STORE_1_727  STORE_1     1817    1
81853  STORE_1_727  STORE_1     1818    4
81854  STORE_1_727  STORE_1     1819    2

[81855 rows x 4 columns]

In [4]:
df.drop(columns=["cnt"]).to_csv("shop_sales_without_cnt.csv", index=False)